@charset "utf-8";
/* Estilo da pagina da pagina inicial */
.signin-container {
  display: grid;
  width: 100%;
  height: 100vh;
  grid-template-columns: 2fr 1.5fr;
  grid-template-rows: 1fr;
  grid-template-areas: "apresent" "forms";
  justify-items: center;
  align-items: center;

  .signin-presentation {
    grid-area: "apresent";
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 100%;
    align-items: center;
    gap: 1rem;
    padding: 0.5rem;
    & h1 {
      text-align: center;

      font-family: var(--font1);
    }
    & img {
      min-width: 400px;
      max-width: 600px;
      width: 50%;
      filter: drop-shadow(2px 2px 8px black);
    }
  }
  .signin-form{
    grid-area: "forms";
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 100%;
    padding: 0.5rem;
    align-items: center;
    gap: 0.5rem;
    /* Titulo */
    & > h2 {
      font: 600 2rem var(--font2);
    }
    /* Decrição */
    & > p {
      text-align: center;
      font: 300 1em var(--font1);
      & a {
        color: white;
        text-decoration: none;
        &:hover {
          text-decoration: underline;
        }
      }
    }
    /* Separação */
    & > div {
      width: 100%;
      margin: 1rem 0;
      display: flex;
      align-items: center;
      gap: 0.5rem;
      &::before, &::after {          
        content: '';
        flex: 1;
        border-bottom: 2px solid #fff;
      }
    }
    & :last-child {
      margin-top: auto;
    }
  }
}
@media(max-width: 1024px) {
  .signin-container {
    grid-template-columns: auto;
    .signin-presentation {
      display: none;
    }
  }
}