.forms {
  width: 100%;
  display: flex;
  flex-direction: column;
}

.campDeAcesso{
  display: flex;
  flex-direction: column;
  margin: 1em;
}

.inputCamp {
  width: auto;
  font: italic 300 1.5em var(--font1);
  padding: .25em 12px  ;
  border: none;
  border-radius: 8px;
}

.button {
  padding: 0.5em;
  width: 50%;
  margin: 0 auto;
  background-color: var(--color3);
  border: none;
  border-radius: 10px;
  font: italic 400 1em var(--font2);
}

.textPerf {
  font: 300 1em var(--font1);
}