.forms{
  width: 90%;
  display: flex;
  flex-direction: column;
}

.boxInput {
  padding-block: .25em;
  margin-top: .75em;
  display: flex;
  flex-direction: column;
  /* gap: 5px; */

  & label {
    padding-left: 8px;
    font: 400 1.25em var(--font2);
  }

  & input {
    width: 100%;
    border-radius: 15px;
    border: none;
    padding: .45em 1em;
    font: 300 1em var(--font1);
  }

  & input[type="password"]{
    width: 15vw;
  }

  & input::placeholder {
    font-style: italic;
  }
}

.inputDate { width: 15em; }

.boxDobleCamp {
  width: 100%;
  display: flex;
  gap: 2em;

  & input[type="date"]{
    flex-grow: 1;
  }

  & input[type="tel"]{
    flex-grow: 3;
  }
}

.boxButton {
  margin: 2em 8em;
  border: none;
  border-radius: 25px;
  padding: .75em;
  background-color: var(--color3);
  font: 600 1.05em var(--font2);

  &:hover{
    background-color: #b1b1f9b4;
    transition: .2s ease-in;
  }
}